<!DOCTYPE html>
<html>
<head>
	<title>T3JA</title>
</head>
<header>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
</header>
<body style="margin: 25px">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
	<a class="navbar-brand">T 3 J A</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item ">
			  <a class="nav-link" href="{% url 'homeview' %}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item ">
			  <a class="nav-link" href='{% url "postview" %}'>Posts</a>
			</li>
			{% if user.is_authenticated %}
			<li class="nav-item ">
			  <a class="nav-link" href='{% url "postcreate" %}'>Create Post</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
{% block content %}
<div class="container">
	<ul class="list-unstyled">
		<li class="display-1">thinking</li>
		<li class="display-1">reading</li>
		<li class="display-1">collecting</li>
		<li class="display-1">designing</li>
		<li class="display-1">learning</li>
		<li class="display-1">making</li>
		<li class="display-1">and playing around</li>
	</ul>
<!-- 	<p>My name is Teja. I am a webdeveloper, currelty doing some useless projects.This website <mark>(Still Making)</mark> is made using django as backend framework.</p>
	<p>I don't have good design skills.</p>
	<p>I don't know why i kept the search bar on my navbar </p>
	<ul class="list-unstyled">
	<li>My instagram id : <a href="https://www.instagram.com/invalid_markup/">inavlid_markup</a><mark>(Not using now)</mark></li>
	</ul> -->
</div>

<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Every saint has a past, and every sinner has a future.</p>
      <footer class="blockquote-footer">Oscar Wilde</footer>
    </blockquote>
  </div>
</div>

{% endblock content %}



</body>
</html>